### Get the number of unique users and streams

In [4]:
import pandas as pd

views_df = pd.read_csv("data/customer_card_view.csv")
# print(views_df.head())

unique_userids = views_df["USERID"].unique()
unique_streamids = views_df["STREAMID"].unique()

print(unique_userids)
print(unique_streamids)

num_unique_userid = len(unique_userids)
num_unique_streamid = len(unique_streamids)



print("Unique users: " + str(num_unique_userid))
print("Unique streams: " + str(num_unique_streamid))

[ 1007 10166  1018  1048 10552  1062 10629 10642 10643 10649 10662 10663
 10711 10714 10717 10721 10728 10730 10734 10737 10747 10754 10756 10758
 10768 10775 10784 10789 10791 10794 10801 10802 10804 10824 10825 10974
 10981 10984 10985 10987 11120 11611  1206  1242 13005 13006 13007 13066
  1313 13227 13386 13437 13754 14359  1438 14513 14738 14974  1589  1590
  1591  1593  1659  1707  1708  1709  1710  1712  1713  1714 17429 17613
 17696 17698  1771  1772  1773  1774  1775  1776 17805 17806  1789 17919
  1797 18048 18901 18907 19224 19579 19590 19771 19799 19840 20843 20852
 20966 21042 21176 21181 21756 21760 21761 21762 21763 21764 21769 21770
 21771 21772 21840 21850 21973 21974 21975 22111 22151 22174 22180 22233
 22234 22235 22236 22473 22486   245   246   247   248   249   254   267
   268   269   277   278  3207  3323   337   343   344   345   349   351
  3633   400   408   413   416   419   420   421   447  5324   539   552
   553   554   556  5566   566   573   574   575   576   577   580  6365
   657  6581   663   673   674   675   676   677   698  7242   731   747
   750   751   752   753   755   758   766   767   772   773   774   775
   776   784   786   792   824   830   835   851   867   868   869   872
   874   875   884   890   904   905  9179   922  9222  9223  9224  9226
   923   926   990]
[ 561  565  636  623  603  203  201  524  624 1089  558  622  199  611  205
  610  570  634 1128 1095 1094 1092 1096 1097 1090  363  228  229  230 1267
 1201  612  548  206 1093 1499 1498 1512 1644 1347  629  820  557  232  237
  578 1058  475  509  417  507  364  219  231  245  244  233  218  246 1528
  427  426  316  562  247 1633  753  637  688  493  492 1381 1387 1388 1396
 1390 1392 1389  494  496  497  498  499  500  505  414  248  179 1677 1670
 1662 1657 1658 1659 1660 1661 1655 1665 1668  163  167  171  172  173  178
  192  191  190  189  186  184  198  200  202  204  185  188  217  220  223
  238  308  315  318  236  404  556  560  439  520  522  606  607  608  523
  519  521  412  415  413  416  418  435  440  419  518  549  506  495  752
  755  517 1391]
Unique users: 219
Unique streams: 153

### We see number of unique users are 219 and unique streams are 153

#### Number of view record data

In [5]:
print("Number of view records: " + str(views_df.shape[0]))

Number of view records: 160770

In [6]:
print("Number of matrix elements for recommendations: " + str(num_unique_userid * num_unique_streamid))

Number of matrix elements for recommendations: 33507

#### See which users have most records to them and which streams have the most records to them

In [9]:
users_grouped_by_df = views_df.groupby('USERID')['TIMESTAMP'].nunique()
print(users_grouped_by_df)

USERID
245       469
246        30
247        36
248         2
249       134
254        78
267       383
268       199
269        56
277         9
278        42
337       434
343       270
344       279
345       151
349        14
351        17
400      1505
408         6
413       710
416       836
419      1386
420      1448
421        18
447        10
539       455
552      1041
553       667
554       918
556       371
         ...
20852       3
20966      13
21042       3
21176       7
21181      18
21756      72
21760     174
21761      78
21762     181
21763     183
21764       4
21769       2
21770     278
21771     152
21772     113
21840      10
21850      10
21973      20
21974       8
21975      15
22111     294
22151       8
22174      14
22180      12
22233       1
22234       2
22235       3
22236       4
22473       1
22486       2
Name: TIMESTAMP, Length: 219, dtype: int64

In [10]:
streams_grouped_by_df = views_df.groupby('STREAMID')['TIMESTAMP'].nunique()
print(streams_grouped_by_df)

STREAMID
163       237
167        95
171        67
172        59
173        70
178       146
179        22
184        14
185         5
186        35
188         6
189        30
190        16
191        13
192        19
198        52
199      1238
200        95
201       463
202        76
203       654
204       138
205       573
206       449
217         9
218      2031
219       192
220        11
223         1
228     22660
        ...
1097      165
1128       27
1201       63
1267       15
1347       20
1381       38
1387        6
1388        8
1389        1
1390        3
1391        1
1392        4
1396        4
1498        7
1499        6
1512       39
1528      207
1633      169
1644        6
1655        3
1657        4
1658        7
1659        8
1660        5
1661        7
1662        8
1665        5
1668        3
1670        5
1677       41
Name: TIMESTAMP, Length: 153, dtype: int64

#### Clearely there are more active users and more popular streams