In [10]:
import nltk
from nltk import FreqDist, word_tokenize
import string
from nltk.corpus import stopwords
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
%matplotlib inline

In [4]:
stream_content_df = pd.read_csv("data/stream_content.csv", header=0, encoding="ISO-8859-1")
stream_content_df.head()

   StreamID                                            Content
0       163  TXmAk2KZAy4\r\nNMeUjebo1Ac\r\nEEuTxFhp3go\r\nC...
1       419  TXmAk2KZAy4\r\nNMeUjebo1Ac\r\nEEuTxFhp3go\r\nC...
2       507  wBYKUgUyGWc\r\nA team of world-class drivers, ...
3       199  Castrol EDGE  is Castrol?s flagship power bran...
4       201  Charles ?Cheers? Wakefield, Castrol?s founder,...

## Pre-process the content to remove stop words, punctutations and lemmatization

In [9]:
def preprocess(tokens):
    
    # TODO: remove random sequences that contain with more than one caps and small or combination of letters and numbers
    
    tokens_nop = [t for t in tokens if t not in string.punctuation]
    tokens_nop = [t.lower() for t in tokens_nop]
    wnl = nltk.WordNetLemmatizer()
    stop = stopwords.words('english')
    tokens_nostop = [t for t in tokens_nop if t not in stop]
    tokens_lem = [wnl.lemmatize(t) for t in tokens_nostop]
    tokens_clean = [t for t in tokens_lem if len(t) >= 3] 
    return tokens_clean

stream_content_df['Content_processed'] = stream_content_df['Content'].map(word_tokenize)
stream_content_df['Content_processed'] = stream_content_df.Content_processed.apply(preprocess)
stream_content_df.head()

,StreamID,Content,Content_processed
0,163,TXmAk2KZAy4\r\nNMeUjebo1Ac\r\nEEuTxFhp3go\r\nC...,"[txmak2kzay4, nmeujebo1ac, eeutxfhp3go, castro..."
1,419,TXmAk2KZAy4\r\nNMeUjebo1Ac\r\nEEuTxFhp3go\r\nC...,"[txmak2kzay4, nmeujebo1ac, eeutxfhp3go, castro..."
2,507,"wBYKUgUyGWc\r\nA team of world-class drivers, ...","[wbykuguygwc, team, world-class, driver, power..."
3,199,Castrol EDGE is Castrol?s flagship power bran...,"[castrol, edge, castrol, flagship, power, bran..."
4,201,"Charles ?Cheers? Wakefield, Castrol?s founder,...","[charles, cheer, wakefield, castrol, founder, ..."

### Generate the TFIDF vectors for the streams

In [11]:
stream_content_df['Content_processed'] = stream_content_df['Content_processed'].apply(lambda x: " ".join(x))
stream_content_df.head()

,StreamID,Content,Content_processed
0,163,TXmAk2KZAy4\r\nNMeUjebo1Ac\r\nEEuTxFhp3go\r\nC...,txmak2kzay4 nmeujebo1ac eeutxfhp3go castrol la...
1,419,TXmAk2KZAy4\r\nNMeUjebo1Ac\r\nEEuTxFhp3go\r\nC...,txmak2kzay4 nmeujebo1ac eeutxfhp3go castrol la...
2,507,"wBYKUgUyGWc\r\nA team of world-class drivers, ...",wbykuguygwc team world-class driver powered ca...
3,199,Castrol EDGE is Castrol?s flagship power bran...,castrol edge castrol flagship power brand pcos...
4,201,"Charles ?Cheers? Wakefield, Castrol?s founder,...",charles cheer wakefield castrol founder entrep...

In [14]:
all_streams_cleaned_text = stream_content_df['Content_processed']
all_streams_tfidf_vectorizer = TfidfVectorizer(min_df = 2)
all_streams_tfidf = all_streams_tfidf_vectorizer.fit_transform(all_streams_cleaned_text)
all_streams_tfidf

<97x928 sparse matrix of type '<class 'numpy.float64'>'
	with 6122 stored elements in Compressed Sparse Row format>

In [16]:
token_values = {all_streams_tfidf_vectorizer.vocabulary_[token]: token for token in all_streams_tfidf_vectorizer.vocabulary_}

In [20]:
similarities = cosine_similarity(all_streams_tfidf)

In [30]:
def linear(x, total_steps):
    step_value = 1/total_steps
    return 1 - (x * step_value)

In [31]:
def constant(x, total_steps):
    return 1

In [45]:
def get_similar_streams_based_on_history(viewed_streams, weight_pattern = linear, max_similar_streams = 10, max_viewed_streams_to_consider = 5):
    """
        viewed_streams: list of stream IDs that have been viewed by the current user. The streams at a lower ID has been viewed more recently. So stream with ID 0 is the last viewed stream.
        weight_pattern: The weight pattern to weight the contributions due to the stream history
    max_similar_streams: The maximum number of similar streams to return
    max_viewed_streams_to_consider: The maximum number of viewed streams to consider for the recommendation 
    
    Returns: A list of stream ID, score pairs
    
    """
    
    if viewed_streams:
        num_viewed_streams = len(viewed_streams)
        
        # set the max viewed streams to consider 
        max_viewed_streams_to_consider = min(max_viewed_streams_to_consider, num_viewed_streams)
        
        # create an array of 0's
        similarity_sum = np.zeros(similarities.shape[0])
    
        for x, viewed_stream in enumerate(viewed_streams):
            stream_index = stream_content_df[stream_content_df["StreamID"]==viewed_stream].index[0]
            weight_factor = weight_pattern(x, max_viewed_streams_to_consider)
            # print(weight_factor)
            similarity_sum = similarity_sum + (weight_factor * np.array(similarities[stream_index]))
        
        
        #print(similarity_sum)
        stream_ids = stream_content_df["StreamID"]
        
        # concatenate the stream ID and the similarity score sum as pairs
        stream_similarity = list(zip(stream_ids, similarity_sum))
        
        # print(stream_similarity)
        
        # sort the stream similarity on the score in descending order
        stream_similarity.sort(key = lambda x: x[1], reverse = True)
        
        # print(stream_similarity)
        
        # candidate streams are those which have greater than 0 score and they have not been viewed before
        candidate_streams = [x for x in stream_similarity if (x[1] > 0) and (x[0] not in viewed_streams)]
        
        num_candidate_streams = len(candidate_streams)
        
        return candidate_streams[:min(num_candidate_streams, max_similar_streams)]

In [48]:
get_similar_streams_based_on_history([1498, 163, 507, 201])

[(2265, 1.2620715824847637),
 (199, 1.2362178356915718),
 (2405, 1.1823430221582885),
 (2380, 1.1786054440773466),
 (2373, 1.1267495184586085),
 (2030, 1.1267286220099606),
 (2036, 1.1140552834250859),
 (419, 1.1055542339583908),
 (1658, 1.071461114797631),
 (2104, 1.0561773007430364)]

In [49]:
print(stream_content_df[stream_content_df["StreamID"] == 163])

print(stream_content_df[stream_content_df["StreamID"] == 419])

   StreamID                                            Content  \
0       163  TXmAk2KZAy4\r\nNMeUjebo1Ac\r\nEEuTxFhp3go\r\nC...

                                   Content_processed
0  txmak2kzay4 nmeujebo1ac eeutxfhp3go castrol la...
   StreamID                                            Content  \
1       419  TXmAk2KZAy4\r\nNMeUjebo1Ac\r\nEEuTxFhp3go\r\nC...

                                   Content_processed
1  txmak2kzay4 nmeujebo1ac eeutxfhp3go castrol la...

### Read in the content views for the users

In [62]:
content_views_per_user_scaled_df = pd.read_csv("data/content_views_per_user_scaled.csv", header=0)
new_column_names = ["UserID"]
new_column_names.extend(content_views_per_user_scaled_df.columns[1:])
content_views_per_user_scaled_df.columns = new_column_names
content_views_per_user_scaled_df.head()

,UserID,163,167,171,172,173,178,179,184,185,...,1657,1658,1659,1660,1661,1662,1665,1668,1670,1677
0,245,1.000000,1.000000,1.000000,1.000000,1.000000,0.920755,0.2,0.25,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,246,0.040816,0.000000,0.000000,0.036145,0.000000,0.415094,0.2,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,247,0.299320,0.116279,0.276423,0.457831,0.479042,0.633962,0.4,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,248,0.014577,0.023256,0.000000,0.000000,0.000000,0.000000,0.0,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,249,0.119534,0.736434,0.113821,0.373494,0.125749,1.000000,0.2,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
features_df = content_views_per_user_scaled_df.drop("UserID", axis=1)
from sklearn.metrics.pairwise import euclidean_distances
user_similarities = euclidean_distances(features_df.values)
user_similarities.shape

(219, 219)

In [90]:
def get_similar_streams_based_on_other_users(current_user_id, max_similar_streams = 10, max_users_to_consider = 5):
    """
        current_user_id: The ID of the current user.
        max_similar_streams: The maximum number of similar streams to return
    max_users_to_consider: The maximum number of users to consider
    
    Returns: A list of stream IDs based on similar users who have watched the most
    
    """
    
    if current_user_id:
        distance_current_user_other_users = user_similarities[content_views_per_user_scaled_df["UserID"] == current_user_id]
        distance_current_user_other_users = np.squeeze(distance_current_user_other_users)
        #print(distance_current_user_other_users)
        
        user_ids = content_views_per_user_scaled_df["UserID"].values
        #print(type(user_ids))
        #print(user_ids.shape)
        #print(distance_current_user_other_users.shape)
        
        # concatenate the user ID and the similarity score sum as pairs
        user_similarity = list(zip(user_ids, distance_current_user_other_users))
        
        #print(user_similarity)
        
        # sort the user similarity on the score in ascending order
        user_similarity.sort(key = lambda x: x[1])
        
        #print(user_similarity)
        
        # candidate users are those which are other users closest to the current user
        candidate_users = [x for x in user_similarity if (x[0] != current_user_id)]
        
        num_candidate_users = len(candidate_users)
        
        return candidate_users[:min(num_candidate_users, max_similar_streams)]

In [91]:
get_similar_streams_based_on_other_users(245)

<class 'numpy.ndarray'>
(219,)
(219,)
[(245, 0.0), (246, 3.064629336020015), (247, 2.6085794880011854), (248, 3.183672908270569), (249, 2.5247593626807907), (254, 2.7249418240280234), (267, 4.178094970263231), (268, 3.528968017880467), (269, 2.6715976334901765), (277, 3.1500195537837183), (278, 3.030577763914333), (337, 3.221455997641786), (343, 3.2972527445965314), (344, 3.2281338720828496), (345, 3.258845843331141), (349, 3.192551812597635), (351, 3.1906944800725476), (400, 5.142507829430353), (408, 3.1939842225912485), (413, 4.2549583732155405), (416, 5.613463065729484), (419, 3.5690058515364607), (420, 3.9503445006664957), (421, 3.183010423837408), (447, 3.1957226303292945), (539, 3.2803429257839807), (552, 4.460612831546688), (553, 3.426843168813564), (554, 3.8844709084568816), (556, 3.7289608647210235), (566, 3.1154435011172086), (573, 3.637799159209524), (574, 3.4948212162466463), (575, 3.3009256202260038), (576, 3.7970884266841893), (577, 3.273117613016375), (580, 3.45894431186891), (657, 3.1921215383020067), (663, 3.46790722637303), (673, 3.555043007051287), (674, 3.801739507795684), (675, 3.608996576821889), (676, 3.335186978804627), (677, 3.1955255695583102), (698, 3.195153794413679), (731, 4.538656776202872), (747, 3.2320544939387434), (750, 3.207422033708474), (751, 4.556504123428475), (752, 3.652497291451927), (753, 4.495558729305922), (755, 4.36220495347512), (758, 3.338551020671803), (766, 3.2956990128623866), (767, 4.281947484437802), (772, 3.1971612654534947), (773, 3.513534909372547), (774, 3.2592756066340387), (775, 3.402759391338044), (776, 3.196550689379792), (784, 3.575259725974673), (786, 3.398039070008093), (792, 4.830360143390528), (824, 3.393391879533507), (830, 3.200718967455349), (835, 3.195607940997617), (851, 3.3482362527660663), (867, 3.8939924635269385), (868, 3.2853677796666454), (869, 3.2829209514285727), (872, 3.6796281553517325), (874, 3.7208601600040834), (875, 3.240748875911423), (884, 3.2064432802072176), (890, 3.672517423590547), (904, 4.130176467383372), (905, 3.2476051411382096), (922, 3.2352016526627096), (923, 3.1981489994463046), (926, 4.027159742043731), (990, 3.3206314737987044), (1007, 3.1965738537835398), (1018, 3.2086560651184657), (1048, 3.2082637944635457), (1062, 3.212843331976269), (1206, 3.197675371595743), (1242, 3.2524643442551335), (1313, 3.4555730839779226), (1438, 3.2983729762747207), (1589, 3.1952509283515758), (1590, 3.195428168846552), (1591, 3.2687483035333127), (1593, 3.1952540555765623), (1659, 3.195631040412743), (1707, 3.1971598615895966), (1708, 3.2311720825886736), (1709, 3.2405695163656745), (1710, 3.2004756385973963), (1712, 3.202477312713872), (1713, 3.200347034638299), (1714, 3.2448101112123258), (1771, 3.242019885980588), (1772, 3.222626699385024), (1773, 3.219451496630629), (1774, 3.2315126376969423), (1775, 3.4002432916916723), (1776, 3.2433663905246224), (1789, 3.1954164262044675), (1797, 3.2674584795418316), (3207, 3.268809128683685), (3323, 3.27607968835945), (3633, 3.3869641948613016), (5324, 3.3896910564837106), (5566, 3.39259744676962), (6365, 3.2704504392612477), (6581, 3.213383364939265), (7242, 3.2014435871599245), (9179, 3.6592395941768348), (9222, 3.858362566843625), (9223, 3.3324087412691825), (9224, 3.205364107392692), (9226, 3.1960461630573453), (10166, 3.1952345097930848), (10552, 3.663906687915727), (10629, 3.2626516161808032), (10642, 3.313226367994049), (10643, 4.050202845949899), (10649, 3.254831435866292), (10662, 3.225509362387483), (10663, 3.305066424551439), (10711, 3.53630387527182), (10714, 3.2497325776037136), (10717, 3.2230265921138392), (10721, 3.3125562103261728), (10728, 3.295565204592722), (10730, 3.208597722940834), (10734, 3.526319870670511), (10737, 3.1972877404077895), (10747, 3.3153241394601443), (10754, 3.6241827774430035), (10756, 3.417161660185393), (10758, 3.290423706808158), (10768, 3.2082597590128152), (10775, 3.2018684411669747), (10784, 3.199933576377147), (10789, 3.530794155119636), (10791, 3.4875031104891843), (10794, 3.2291967082480593), (10801, 3.2697962596197137), (10802, 3.481713127525831), (10804, 3.331363648174502), (10824, 4.178287924300651), (10825, 3.2941791465660883), (10974, 3.3175944503813692), (10981, 3.319751115398099), (10984, 3.2436196069832026), (10985, 3.2032854332445853), (10987, 3.3544559226854136), (11120, 3.2976442402565076), (11611, 3.2274148873099557), (13005, 3.2004408870145924), (13006, 3.2156647294553875), (13007, 3.209127071091131), (13066, 3.2778350704878068), (13227, 3.256195513543155), (13386, 3.216451519783273), (13437, 3.2169034288959852), (13754, 3.3494870464969693), (14359, 3.1988108190568183), (14513, 3.1967417183000735), (14738, 3.2828689500255437), (14974, 3.1977080924317356), (17429, 3.229685996240861), (17613, 3.21100387315384), (17696, 3.2112749382576897), (17698, 3.1961117703831), (17805, 3.1973171635612583), (17806, 3.1961117703831), (17919, 3.2201325554661833), (18048, 4.056523172924622), (18901, 3.304145475499427), (18907, 3.2889993658564167), (19224, 3.216116484033526), (19579, 3.3810517879611797), (19590, 3.2201293322746425), (19771, 3.20190992530157), (19799, 3.195416988622088), (19840, 3.205477138832983), (20843, 3.328195795427547), (20852, 3.1980625451939253), (20966, 3.1994494119337817), (21042, 3.1954484618847885), (21176, 3.2123650416959744), (21181, 3.227693265162731), (21756, 3.2162254646413784), (21760, 3.2486304489450575), (21761, 3.2335841234873017), (21762, 3.2345730140528737), (21763, 3.2709680289734147), (21764, 3.195423533795747), (21769, 3.1954165920925544), (21770, 3.3931395563827804), (21771, 3.3295545510394122), (21772, 3.3464892591392337), (21840, 3.494401558827627), (21850, 3.195717572156204), (21973, 4.037998145129427), (21974, 3.3154035958776866), (21975, 3.2126557739054737), (22111, 3.225645145188972), (22151, 3.4139620786222338), (22174, 3.224815205375564), (22180, 3.196070203880704), (22233, 3.2127553774677677), (22234, 3.4139611082701857), (22235, 3.4642184488174346), (22236, 3.322167208362041), (22473, 3.2009127220742757), (22486, 3.195807566850193)]

[(249, 2.5247593626807907),
 (247, 2.6085794880011854),
 (269, 2.6715976334901765),
 (254, 2.7249418240280234),
 (278, 3.030577763914333),
 (246, 3.064629336020015),
 (566, 3.1154435011172086),
 (277, 3.1500195537837183),
 (421, 3.183010423837408),
 (248, 3.183672908270569)]