In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [7]:
stream_views_df = pd.read_csv("data/content_views_raw.csv", header=0)
stream_views_df.head()

,USERID,CARDID,CARDTITLE,STREAMID,STREAMNAME,TIMESTAMP,MODULEID,MODULENAME,ORGANIZATION
0,1019,3021,Best in Class,579,About HMD,2017-07-09 10:23:36,473,HMD,28
1,1054,3021,Best in Class,579,About HMD,2017-07-09 14:41:25,473,HMD,28
2,977,3021,Best in Class,579,About HMD,2017-07-09 13:35:38,473,HMD,28
3,1337,3021,Best in Class,579,About HMD,2017-07-10 05:53:05,473,HMD,28
4,1346,3021,Best in Class,579,About HMD,2017-07-10 11:23:59,473,HMD,28

In [8]:
stream_views_df = stream_views_df.drop(["CARDTITLE", "STREAMNAME", "ORGANIZATION", "MODULENAME"], axis=1)
stream_views_df.head()

   USERID  CARDID  STREAMID            TIMESTAMP  MODULEID
0    1019    3021       579  2017-07-09 10:23:36       473
1    1054    3021       579  2017-07-09 14:41:25       473
2     977    3021       579  2017-07-09 13:35:38       473
3    1337    3021       579  2017-07-10 05:53:05       473
4    1346    3021       579  2017-07-10 11:23:59       473

In [9]:
stream_views_df["date"] = stream_views_df["TIMESTAMP"].apply(lambda x: x.split(" ")[0].strip())
stream_views_df["time"] = stream_views_df["TIMESTAMP"].apply(lambda x: x.split(" ")[1].strip())
stream_views_df = stream_views_df.drop("TIMESTAMP", axis=1)
stream_views_df.head()

   USERID  CARDID  STREAMID  MODULEID        date      time
0    1019    3021       579       473  2017-07-09  10:23:36
1    1054    3021       579       473  2017-07-09  14:41:25
2     977    3021       579       473  2017-07-09  13:35:38
3    1337    3021       579       473  2017-07-10  05:53:05
4    1346    3021       579       473  2017-07-10  11:23:59